/* Navigation */
 #navbar{ 
    flex-direction: column;
    margin: 0px 90px;
}
/* Home */
#home{
    
}

/* Services */
#services{
    flex-direction: column;
}
/* Clients */


/* contact Us section */



/* Footer */