/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
  
}
/* CSS Variable */
:root{
    --navbar-height:59px;
}


/* navbar */
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
}
/* navbar:image style */
#logo{
    margin: 10px 44px;
}
#logo img{
    height: 113px;
    margin: 10px 11px;
    
    border: 5px solid transparent;
    border-radius: 65px;
}
#logo img:hover{
    border: 5px solid #FFEFBA;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;
    
    
}
#navbar ul li{
    font-weight: 900;
    font-size: 1.3rem;
    list-style: none;
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 10px 24px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: whitesmoke;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
   opacity: 0.4;
    
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 4px 200px;
    height: 742px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../spaghetti-1932466_1920.jpg') center no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
   opacity: 0.89;
}

/* Utility Classes */
.h-primary{
    color: gainsboro;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    border: 2px solid burlywood;
    width: 32%;
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, red , yellow);
    border-radius: 21px;
    
}
 .h-secondary{
    font-family: 'Baloo Bhaina 2', cursive;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
#home p{
    color: white;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;

}
.btn{
    display: block;
    width: 22%;
    margin: 6px auto;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 14px;
    
    background-color: antiquewhite;
    border: 2px solid white;
}
.btn:hover{
    border: 2px solid red;
    color: black;
   background-color: tomato;
   cursor: pointer;
   
}
.section-container{
    background-color: rgb(37 37 29);
}
.center{
    text-align: center;
}
#services{
    margin: 24px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    margin: 6px;
    padding: 10px;
    border-radius: 22px;
    background-color: whitesmoke;
}
#services .box img{
       display: block;
       width: 49%;
       margin: 0px auto;   

}
#services .box p{
    font-family: 'Baloo Tamma 2', cursive;
}
#services{}

/* Client Section */

.client-section{
    height: 247px;
    background: url('../cupcakes-690040_1920.jpg') center no-repeat;
  
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items{
    margin: 20px 25px;
}
.client-items img {
    height: 100px;
    border:2px solid white;
    border-radius: 30px;
   }
   .client-items img:hover {
     border: 1px solid rgb(201, 201, 201);
   
   }
#client-section::before{
    content: "";
    background: url('../cupcakes-690040_1920.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
}
/* Contact Us  */
#contact{
    height: 400px;
    position: relative;
}
#contact::before{
    content:"" ;
    background: url('../FooterImg2.jpg') center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1 ;
}
/* Form */
fieldset{
    padding: 4px 14px;
}
#contact-box p{
    color:whitesmoke;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: bold;
}
textarea{
    border:3px solid rgb(231, 175, 175);
    border-radius: 10px;
    background-color: rgb(221, 209, 188);
}
.form-group{
    margin:0px 96px; 
    
}
.patti{
    padding: 5px 4px;
    margin: 2px 5px;
    background-color: rgb(221, 209, 188);
}

.submit{
    display: block;
    width: 22%;
    margin: 9px 27px;
    padding: 4px;
    font-weight: bold;
    border: 2px solid black;
    background-color: yellowgreen;
    border-radius: 7px;
}
.submit:hover{
    
    background-color: chartreuse;
}



/* Footer */
footer{
    color: white;
    background-color: black;
}
